@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bruno+Ace&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

body{
    background: #0049e6;
    background: radial-gradient(circle, rgba(0, 73, 230, 0.48) 0%, rgba(7, 49, 87, 1) 100%);
}

*{
    font-family: "Raleway", sans-serif;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.5%;
}

header h1{
    color: rgb(8, 21, 58);
    font-family: "Bruno Ace", sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    gap: 8vw;
}

nav button{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    color: #202020;
    cursor: pointer;
}

nav button:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #353535;
}

nav button:active{
    color: #505050;
    transform: scale(0.92);
}

#content{
    padding: 1%;
}

#content h1{
    font-family: "Orbitron", sans-serif;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-page img{
    width: 620px;
    border-radius: 20%;
}

.menu-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 55px;
    padding-bottom: 0.8%;
}

.food{
    background: #5e81cc;
    background: radial-gradient(circle, rgba(94, 129, 204, 0.35) 0%, rgba(36, 175, 255, 0.88) 100%);
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    border-radius: 12.5%;
    transition: transform 0.5s cubic-bezier(.17,.67,.83,.67);
}

.food:hover{
    transform: scale(1.02);
}

.food figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.food figure img{
    width: 238px;
    border-radius: 38%;
}

figcaption{
    font-size: 1em;
    font-weight: bold;
    font-family: "Bruno Ace", sans-serif;
}

#price{
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}

#order{
    background: #7ec4e0;
    background: radial-gradient(circle, rgba(126, 196, 224, 0.32) 0%, rgba(36, 79, 237, 1) 100%);
    border: none;
    font-family: "Bruno Ace", sans-serif;
    padding: 8px 12px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

#order:hover{
    color: #7ec4e0;
    background-color: #303030;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#order:active{
    transform: scale(0.9);
}

.about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

address{
    border: 2px dashed rgb(1, 81, 151) ;
    padding: 1.2%;
    border-radius: 12%;
    background: #294a8f;
    background: -webkit-linear-gradient(18deg, rgba(41, 74, 143, 1) 0%, rgba(155, 155, 194, 0.5) 42%, rgba(19, 119, 242, 1) 100%);
    background: -moz-linear-gradient(18deg, rgba(41, 74, 143, 1) 0%, rgba(155, 155, 194, 0.5) 42%, rgba(19, 119, 242, 1) 100%);
    background: linear-gradient(18deg, rgba(41, 74, 143, 1) 0%, rgba(155, 155, 194, 0.5) 42%, rgba(19, 119, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#294A8F", endColorstr="#1377F2", GradientType=0);
    transition: transform 1.2s ease;
}

address h2{
    font-family: "Tektur", sans-serif;
}

address p{
    font-family: "Tektur", sans-serif;
}

address:hover{
    transform: scale(1.05);
}

/*Smaller Width*/

#toggleMenu:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #353535;
}

#toggleMenu:active{
    color: #505050;
    transform: scale(0.92);
}

.nav-buttons{
    position: absolute;
    top: 11.35vh;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #5e81cc;
    background: radial-gradient(circle, rgba(94, 129, 204, 0.88) 0%, rgba(36, 175, 255, 1) 100%);
    padding: 0;
    display: none;
} 

.nav-buttons button{
    width: 100vw;
    padding: 2%;
}

@media(max-width: 1050px) {
    body{
        font-size: 0.9em;
    }

    .food figure img{
        width: 175px;
    }

    button{
        font-size: 0.9em;
    }
}

@media(max-width: 780px) {
    .home-page img{
        width: 480px;
    }

    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }

    .food{
        width: 35vw;
    }
}

@media(max-width: 625px) {
    .food{
        width: 40vw;
    }
}

@media(max-width: 550px){
    body{
        font-size: 0.78em;
    }

    nav{
        gap: 3.75vw;
    }

    .home-page img{
        width: 350px;
    }
}

@media(max-width: 480px) {
    .menu-grid{
        grid-template-columns: 1fr;
    }

    .food{
        width: 55vw;
    }
}

@media(max-width: 425px) {
    nav button:hover{
        box-shadow: none;
    }

    nav button:active{
        transform: none;
    }
}