@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgba(20, 94, 255, 10);
    background: radial-gradient(circle, rgba(20, 94, 255, 0.48) 0%, rgba(9, 131, 145, 1) 100%);
}

*{
    font-family: "Raleway", sans-serif;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.25%;
}

header h1{
    color: rgb(90, 90, 90);
    font-family: "Asimovian", sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    gap: 8vw;
}

nav button{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    color: #202020;
    cursor: pointer;
}

nav button:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #353535;
}

nav button:active{
    color: #505050;
    transform: scale(0.92);
}