body{
    background: #f7803b;
    background: -webkit-linear-gradient(204deg, rgba(247, 128, 59, 1) 0%, rgba(227, 227, 41, 1) 35%, rgba(255, 123, 0, 1) 100%);
    background: -moz-linear-gradient(204deg, rgba(247, 128, 59, 1) 0%, rgba(227, 227, 41, 1) 35%, rgba(255, 123, 0, 1) 100%);
    background: linear-gradient(204deg, rgba(247, 128, 59, 1) 0%, rgba(227, 227, 41, 1) 35%, rgba(255, 123, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F7803B", endColorstr="#FF7B00", GradientType=0);
}