@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bruno+Ace&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

body{
    background: #0049e6;
    background: radial-gradient(circle, rgba(0, 73, 230, 0.48) 0%, rgba(7, 49, 87, 1) 100%);
}

*{
    font-family: "Raleway", sans-serif;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.5%;
}

header h1{
    color: rgb(8, 21, 58);
    font-family: "Bruno Ace", sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    gap: 8vw;
}

nav button{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    color: #202020;
    cursor: pointer;
}

nav button:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #353535;
}

nav button:active{
    color: #505050;
    transform: scale(0.92);
}

#content{
    padding: 0.88%;
}

#content h1{
    font-family: "Orbitron", sans-serif;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-page img{
    width: 620px;
    border-radius: 20%;
}